.profile-page {
    margin: 100px auto; /* Centrar el contenido horizontalmente */
    width: 80%; /* Definir el ancho */
    text-align: center; /* Centrar el texto */
}

.profile-page img {
    margin-top: 20px;
    width: 100px; /* Tamaño del icono del perfil */
    height: auto;
}

.profile-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
    align-items: center; /* Centrar los elementos en la columna */
    gap: 10px; /* Espacio entre elementos */
}

.profile-info p {
    font-size: 16px;
    font-weight: 500;
    color: #454545;
}

.profile-info p strong {
    font-weight: 600;
}

/* Media Query para pantallas más pequeñas */
@media(max-width: 768px) {
    .profile-page {
        width: 90%;
        margin: 60px auto;
    }

    .profile-info p {
        font-size: 14px;
    }
}
